body {
	font: 14px "Century Gothic", Futura, sans-serif;
}

.square {
	background: #fff;
	border: 1px solid #999;
	position: relative;
	font-size: 12px;
	font-weight: bold;
	line-height: 34px;
	height: 34px;
	margin-right: -1px;
	margin-top: -1px;
	padding: 0;
	text-align: center;
	width: 34px;
}

.grid {
	left: 15px;
	position: relative;
	display: block;
}

.player-container {
	position: relative;
	display: flex;
	flex-wrap: wrap;
}

.column-label {
	top: 20px;
	position: absolute;
	display: flex;
	justify-content: space-around;
	height: 320px;
	flex-direction: column;
	align-self: flex-start;
}

.row-label {
	left: 15px;
	position: relative;
	display: flex;
	width: 340px;
	justify-content: space-around;
}

.board {
	flex: 1;
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	position: relative;
}

.game {
	display: flex;
}

.hit {
	outline-color: blue;
	outline-style: auto;
	background-color: red;
}

.miss{
	outline-color: red;
	outline-style: auto;
}

.ship {
	background-color: blue;
}

.hide-board {
	visibility: hidden;
}

.unclickable-board{
	pointer-events: none
}

.grid-row::after{
	clear: both;
  content: "";
  display: table;
}